@import "tailwindcss";

@theme {
  --font-nunito: var(--font-nunito), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
  
  /* Trích xuất từ Logo */
  --color-brand-primary: #2B3A67; /* Xanh Navy */
  --color-brand-accent: #E53935;  /* Đỏ/Cam điểm nhấn */
  --color-brand-surface: #A28F9D; /* Xám nâu nhạt */
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}

body1, body2 {
  font-family: var(--font-nunito);
}